PORT=3002
MONGODB_URI=mongodb://mongo:27017/shopease-products
JWT_SECRET=your-super-secret-jwt-key-change-in-production
NODE_ENV=development
USER_SERVICE_URL=http://user-service:3001
ORDER_SERVICE_URL=http://order-service:3003
