PORT=3003
MONGODB_URI=mongodb://mongo:27017/shopease-orders
JWT_SECRET=your-super-secret-jwt-key-change-in-production
NODE_ENV=development
USER_SERVICE_URL=http://user-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
NOTIFICATION_SERVICE_URL=http://notification-service:3004
